body {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9em;
    margin: 0;
}

a:link {
    color: #4a4a4a;
    text-decoration: none;
}
.container{
    width: 860px;
    padding: 23px;
}
#header {
    display: flex;
}

#logo {
    width: 100px;
}

#global {
    text-align: right;
    flex-grow: 1;
    font-weight: 600;
}

#global ul {
    list-style: none;
}

#global ul li {
    display: inline;
    margin-left: 20px;
    text-transform: uppercase;
}

#global a:link, #global a:visited {
    color: #4a4a4a
}

#global a:hover {
    color: #b3b3b3;
}

#navigation {
    background:#4a4a4a;
    padding: 5px;
    width: 100%;
}

#navigation a:link, #navigation ul li a:visited {
    color:white;
}

#navigation ul {
    list-style: none;
}

#navigation ul li {
    display: inline;
    margin-right: 10px;
    text-transform: uppercase;
}